/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */


/*for text on buttons in toolbar and bookmarkbar */
toolbarbutton:hover, button:hover {
  color: white !important;
}

/* listheader for in prefs, helper apps; treecol for listheaders like in DOM-inspector; and menulist is for comboboxes like in preferences > browser, the 'browser startup' button */
menulist, listheader, treecol {color: white !important }

/* for active tabs in preferences > advanced */
tab {
background-image: url('tab-top.png') !important;
}

tab[selected="true"] { 
color: white !important; 
background-image: url('tab-top-active.png') !important; 
background-color: none !important;
}

button { color: white !important; }

.bookmark-item:hover, toolbaritem:hover {color: black !important; }
#bookmarks-button:hover { color: white !important; }

.viewSelector > radio {
background-image: url('radio.png') !important; 
color: black !important;
}

.viewSelector > radio:hover, .viewSelector > radio[selected="true"] {
background-image: url('radio2.png') !important;
color: white !important; 
}
